@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Inter';
   src: url('/public/fonts/InterVariable.woff2') format('woff2');
}

:root {
   --font-inter: "Inter", Arial, sans-serif;

   --font-title: var(--font-inter);
   --font-body: var(--font-inter);

   --title-line-height: 1.25;
   --body-line-height: 1.5;

   --pages-bg-color: #fff;
   --pages-font-color: #474747;
}

body {
   font-family: var(--font-body);
   font-weight: 400;
   line-height: var(--body-line-height);

   background-color: var(--pages-bg-color);
   color: var(--pages-font-color);
}

html {
   font-size: 1rem;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

/* Fluid Response Start*/
/* html { 
  font-size: calc(0.625rem + 0.41666666666666663vw); 
}
  @media screen and (max-width:1920px) { html { font-size: calc(0.625rem + 0.41666666666666674vw); } }
  @media screen and (max-width:1440px) { html { font-size: calc(0.39866369710467703rem + 0.6681514476614699vw); } }
  @media screen and (max-width:991px) { html { font-size: calc(0.7497474747474747rem + 0.40404040404040403vw); } }
  @media screen and (max-width:496px) { html { font-size: calc(0.7489878542510121rem + 0.8097165991902835vw); } }
  @media screen and (max-width:249px) { html { font-size: calc(0.8744959677419355rem + 0.8064516129032256vw); } } */
/* Fluid Response End */

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--font-title);
   line-height: var(--title-line-height);
}